<div class="multiBar">
    <button id="btn-add-all" class="form-field" style="display: inline; background-color: #198754; margin-right: 12px; color: white;">
        Add all to cart
    </button>

    <button id="btn-remove-all" class="form-field" style="display: none; background-color: #DC3545; color: white;">
        Remove all from cart
    </button>

    <div class="alertBox productAttributes-message multi-alert" style="display:none; color: white;">
        <div class="alertBox-column alertBox-icon">
            <icon glyph="ic-success" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
        </div>
        <p class="alertBox-column alertBox-message multi-alert-message"></p>
    </div>
</form>
